name: "Temporary Checkov workflow to prepare repo for continuous checking"

on:
  pull_request:
    branches:
      - feat/checkov
  push:
    branches:
      - feat/checkov
  workflow_dispatch:

permissions:
  contents: read
jobs:
  checkov-scan:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@v12
        with:
          # This will add both a CLI output to the console and create a results.sarif file
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        # Results are generated only on a success or failure
        # this is required since GitHub by default won't run the next step
        # when the previous one has failed. Security checks that do not pass will 'fail'.
        if: success() || failure()
        with:
          sarif_file: results.sarif
