name: Run Quality Report

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Run Quality Report
    runs-on: macos-15
    permissions:
      contents: write

    steps:
      - name: Add path globally
        run: echo "/usr/local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v4
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Xcode select
        run: |
          sudo xcode-select -s /Applications/Xcode_16.2.app

      - name: Build and Test
        run: |
          set -o pipefail && xcodebuild -scheme Authentication test \
            -destination "platform=macOS,arch=arm64,variant=Mac Catalyst" \
            -enableCodeCoverage YES \
            -resultBundlePath result.xcresult | xcbeautify
            
      - name: Run SonarCloud Scanning
        run: |
          bash xccov-to-sonarqube-generic.sh result.xcresult > sonarqube-generic-coverage.xml

          brew install sonar-scanner

          sonar-scanner \
            -Dsonar.token=$SONAR_TOKEN \
            -Dsonar.coverageReportPaths="sonarqube-generic-coverage.xml"
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Increment Version
        id: versioning
        uses: Oliver-Binns/Versioning@b6152639f8a9674571ba9794e27a47e2593ceb43 # pin@v1.3.3
        with:
          ACTION_TYPE: 'Release'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
